.bar1, .bar2 ,.bar3{
    border: 1px solid green;
    width: 40px;
    margin: 2px;
    padding: 3px;
    background-color:yellowgreen;
    border-radius: 10px;
    transition: all 0.4s linear;
}


.responsive .bar1{
    transform: translate(0,10px) rotate(-45deg);
}
.responsive .bar2{
    opacity: 0;
}
.responsive .bar3{
    transform: translate(0,-10px) rotate(45deg);
}
