*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  perspective: 1000px;
}
:root{
  --scroll-thumb :linear-gradient(45deg, #12ff81 0%,#876abc 50%,#f56abc 100%);
  --scroll-track :linear-gradient(89deg, #c70ed8 0%,#fab000 50%,#abfabc 100%);
  --scroll-thumb-hover :linear-gradient(67deg, #123fff 0%,#876abc 50%,#f56abc 100%);
  --background-color : #121212;
  --color : #f9f9f9;
  --hero-head : linear-gradient(65deg, #fabfff 0%,#fab000 50%,#abfabc 100%);
  --title-head :linear-gradient(89deg, #c70ed8 0%,#fab000 50%,#abfabc 100%);
  --shadow-box : -10px -10px 50px rgba(212,212,212,0.9), 10px 10px 90px rgba(0,0,0,0.5);
  --footer : linear-gradient(45deg , #f08 0%, #1ee713 20%,#f80fff 100%);
}

body{

  background-color: var(--background-color);
  color: var(--color);
  width: 100%;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: var(--scroll-track);
}
::-webkit-scrollbar-track:hover{
  background: var(--scroll-thumb-hover) ;
}
[class $="-item"]{
  --back-ground : var(--hero-head);
  background: var(--back-ground);
  background-clip:text;
  color: transparent;
  filter: drop-shadow(2px 0 20px rgba(11, 229, 134, 0.5));
  transition: all 0.4s ease-in-out;
  transform: scale(0.9);
  border-radius: 10px;
  
}
[class $="-item"]:hover{
  transform: scale(1);
  text-shadow: 1px 1px 20px rgba(212,0,0,0.5);
   box-shadow: -10px -10px 10px rgba(212,212,212,1),10px 10px 5px rgba(0,0,0,0.2); 
}

.links li{
  padding:5px;
  margin: 5px; 
  transform: scale(0.85);
  transition:all 0.4s ease-in-out;
}
ul{
  list-style-type: none;
}
.links li:hover{
  transform: scale(1);
}
.links li span{
  font-size: clamp(10px,20px,40px);
  padding: 10px;
  margin: 3px;
  font-weight: bold;
}
#theme{
  display: none;
}

input{
  color :var(--hero-head);
}
body:has(#theme:checked){
    --light-theme:1;
     --color : #121212;
     --background-color: #f9f9f9;
} 
span:hover{
  cursor: pointer;
  box-shadow: var(--light-theme);

}


.link-ext{
  cursor: pointer;
  &:hover{
    color: #1ee713;
    
  }
}

.check_box{
  position: absolute;
  right: 5px;
  top: 2px;
  margin: 2px 2px;
  padding: 10px 10px;
}

/*  navbar-css */

.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rbga(212,212,212,0.5);
  box-sizing: border-box;
  flex-wrap: wrap;
  overflow-x: hidden;
  transition: all 2s ease-out;
 
}

.navbar-left{
  display: flex;
  justify-content: left;
  align-items: left;
  padding:10px;
  margin: 0 12px;
  flex-wrap: wrap;
}
.navbar-right{
  flex-wrap: wrap;
}
a{
  role : "button";
  tabIndex : "0";
}
.navbar-left span{
  cursor: pointer;
  margin: 0 2px;
  padding: 0 2px;
  text-decoration: none;

}

span.title-item{
  font-size:clamp(10px,40px,50px);
  font-weight: bold;
  font-style:italic;
  justify-self: center;
  align-self:center;
}

span.title-item:hover{
  transform: rotate(360deg);
}

input[type="search"]:focus{
  color: violet;
}
.navbar-left .logo{
  background-image: url("../../assets/home/home-ganesh.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width:clamp(50px,5dvw,80px);
  height:clamp(50px,5dvw,80px);
}

.navbar-right .links{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  list-style-type: none;
}

.links li.primary{
  background-color:rgba(0, 0, 199, 0.2);
}

.links li input{
  width:clamp(200px,20dvw,300px);
  height:clamp(30px,10dvh,60px);
  color: aliceblue;
}
.links li input[type = "search"]:focus{
 font-size: clamp(20px,7dvh,50px);
}

/*  navbar-css end */

footer{
  position: sticky;
  bottom: 0;
}

.form-label{
  position: absolute;
  right: 20px;
}
/* .form-check{
  transform: scale(1.5);
   &:hover{
    transform: scale(2.5);
   }
} */

